*{
  padding: 0px;
  margin: 0px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
  color: #000 !important;
  background: #A2A975 !important;
}
.navbar-inverse{
  background: transparent !important;
  border: none !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background: #4B5320 !important;
  color: #fff !important
}
main{
  background-image: url(../images/ok.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 810px;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.main-overlay {
  background: #000;
  height: 810px;
  opacity: 0.8;
}
nav li a {
  font-weight: bold;
  color: #fff !important;
  font-family: lato;
  text-transform: uppercase;
  font-size: 15px;
}
 nav {
  padding: 20px 0px;
}
.cl-effect-21 a {
  padding: 10px;
  color: #237546;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.cl-effect-21 a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.cl-effect-21 a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
  color: #fff;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.content {
  margin: auto;
  width: 70%;
}
.ul-div {
  margin-top: 100px;
  text-align: center;
  color: #fff;
}
header{

}
.contact-banner{
  background-image: url(../images/contact.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 250px;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
/*Contact sectiom*/
.content-header{
  font-family: lato;
  color:#A2AA79;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
.style-it {
    padding: 20px !important;
    text-align: center;
    font-size: 20px !important;
    background: #A1A978 !important;
    border: none !important;
    color: #fff !important;
}
.style-it:hover {
background: #fff !important;
color: #000 !important;
}
.contact-body {
  background: #657746;
}
html{
  overflow-x: hidden !important;
}
#contact{
    
    font-family: lato;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
    color : #fff;
    background: #657746;    
}
.fa-linkedin {
  color: #247BB2;
}
.alternatively{
      margin-top: 150px;
    width: 100%;
    background: #eee;
    padding: 10px;
    box-shadow:0px 1px 10px 2px #000;
}
.alternatively p{
  font-size: 25px;
  font-family: latolight;
  color: #000;
}
.fa-twitter{
  color: #3F85F6;
}
.fab{
  font-size: 30px;
}
.alternatively li{
  display: inline-block;
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  float: right;
  width: 100%;
}

.about-banner{
  background-image: url(../images/about.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 250px;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.team-banner{
  background-image: url(../images/teamm.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 250px;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.partner-banner {
  background-image: url(../images/partners.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 400px;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.executive-banner{
  background-image: url(../images/exec.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 250px;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.coach-banner{
  background-image: url(../images/coaches.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 250px;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.retreats-banner{
  background-image: url(../images/exec.jpg);
    background-size: cover;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 250px;
     -webkit-background-size: cover;
     background-position: center;
     -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      -ms-background-size: cover;
}
.main-overlayy {
  background: #000;
  height: 250px;
  opacity: 0.8;
}
.content i {
  color: #fff;
  margin-top: 60px;
  font-family: latolight;
  font-size: 35px;
  text-align: left;
  line-height: 80px;
  font-weight: bolder;
}
i{
  color: #fff;
  text-align: center;
  margin-top: -10px;
  font-family: latolight;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3px;
}
.content-div{
  padding: 40px 0px;
}
.coaching{
  color: #fff;
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
}
.coaching-right h2 {
  color: #fff;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  font-family: lato;
  margin-bottom: 30px;
  font-weight: bold;
}
.right-li li{
  color: #fff;
    line-height: 40px;
    font-size: 20px;
    font-family: lato;
    list-style: disc;
}
.exec-cover{
  padding:40px 0px;
}
.exec-cover strong {
  color: #fff;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  font-family: lato;
  margin-bottom: 30px;
}
.service-intro{
    color: #fff;
    line-height: 35px;
    font-size: 20px;
    font-family: latolight;
    text-align: justify;
}
.content-div p{
  line-height: 25px;
  font-weight: bold;
  font-family: lato;
  color: #000;
}
.content-left{
  margin-top: 50px;
}
.content-right{
  background-color: #fff;
  padding: 30px 0px;
  width: 60%;
  margin-top: 60px;
}
.circle {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
  animation-duration: 2s;
}
.content-right p{
  width: 80%;
  margin: auto;
}
hr{
  color: #000;
background-color: #000;
height: 3px !important;
border: 0;
border: none !important;
  width: 100%;
  text-align: center;
}
.footer p{
  color: #fff;
  font-weight: bold;
}
table{
  width: 50%;
  color: #fff;
  margin: auto;
  margin-top: 100px;
}
.team-content{
  padding: 40px 0px;
}
.team-content h3{
 text-align: justify;
    font-family: latolight;
    line-height: 35px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}
figure {
  float: right;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  color: #fff;
}
img.scaled {
  width: 100%;
}

.myfigure {
  float: right;
  width: 60%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  color: #fff;
}
.partner-info {
  padding: 20px 0px;
}
.partner-details {
  color: #fff;
  font-family: latolight;
  text-align: justify;
  line-height: 25px;
}
.partner-info h2{
  color: #fff;
  font-family: latolight;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contain-div h2 {
  color: #fff;
  font-family: lato;
  font-weight: bold;
}
.services-div{
  padding: 20px 0px;
}
.services-div h2{
  
}
.services-div p{
      color: #fff;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    font-family: latolight;
}
.btn-primary{
  background: #000 !important;
  border: none !important;
  text-transform: uppercase !important;
}
.d-card{
  color: #fff;
  line-height: 25px;
  font-family: latolight;
  text-align: justify;
}
.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #88b7d5;
  border-width: 30px;
  margin-top: -30px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #c2e1f5;
  border-width: 36px;
  margin-top: -36px;
}
.d-card h2{
  font-family: lato;
  text-transform: capitalize;
  font-size: 20px;
}
.approach-p{
  text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.mission-div {
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px 2px 2px white;
  color: #000;
  font-family: lato;
}
.mission-div h2 {
  color: #000;
    font-family: lato;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                0px -5px 35px rgba(255,255,255,0.3);
}
.mission-div p{
  line-height: 25px;
    text-align: justify;
    font-size: 15px;
    font-family: lato;
}
.margin{
  margin-left: -17px;
}
.team-header {
  text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: lato;
    font-size: 40px;
    display: block;
    margin-bottom: 50px;
    letter-spacing: 2px;
}
.our-team{
  color: #fff;
  line-height: 25px;
  font-family: lato;
}
.our-team p{
  color: #fff;
  line-height: 30px;
  text-align: justify;
}
.our-team strong {
  display: block;
  color: #fff;
  font-family: lato;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.dropdown-menu li a {
  font-weight: bold !important;
  color: #fff !important;
}
